@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Side By side karne ke liye */
.container {
  display: flex;
}

.sidebar {
  /* Making absolute because in small screen prob*/
  position: absolute;
  background-color: rgb(180, 177, 177);

  /* In px Responsiveness is more than vw or vh */
  /* width: 200px; */
  font-family: "Fira Sans", sans-serif;
  height: 100vh;

  /* For Transition in Sidebar */
  transition: transform 0.3s ease-in;
}

.sidebar nav {
  padding: 28px;
}

.sidebar nav li {
  list-style: none;
  font-size: 16px;
  padding: 18px 3px;
}

/* Hyper Link remove from sidebar */
.sidebar nav li a {
  text-decoration: none;
  color: black;
}

.main {
  /* background-color: yellow; */
  width: 86vw;
  padding: 5px;
}

.infoContainer {
  /* background-color: rgb(202, 9, 128); */
  height: 65vh;
  width: 81vw;
  margin: 81px auto;
  display: flex;
  justify-content: space-around;
}

.devinfo {
  font-size: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;
  padding-top: 5 px;
}

.hello {
  font-size: 3em;
  font-family: "Source Code Pro", monospace;
}

.name {
  font-size: 3em;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}

.about {
  font-size: 2.5em;
  font-family: "Source Code Pro", monospace;
}

.moreabout {
  margin: 5px;
  font-size: 2em;
  font-family: "Fira Sans", sans-serif;
}

.buttons {
  margin-top: 25px;
  font-size: 10px;
}

/* Buttom ke liye h */
.btn {
  padding: 9px 9px;
  border-radius: 64px;
  color: white;
  background-color: midnightblue;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0px 8px;
  cursor: pointer;
}

/* Hover Effect */
.btn:hover {
  background-color: white;
  color: midnightblue;
}

.btn-sm {
  padding: 8px 9px;
  border-radius: 70px;
  color: white;
  background-color: midnightblue;
  font-weight: bold;
  font-size: 1em;
  margin: 5px 5px;
  cursor: pointer;
}

.devPic {
  display: flex;
  height: 65vh;
}

.contactForm h1 {
  font-family: "Source Code Pro", monospace;
  /* For making heading in middle */
  /* text-align: center; */
  padding: 6px 3px;
  margin: 16px -3px;
}

.contactForm {
  font-family: "Fira Sans", sans-serif;
  padding: 16px 16px;
  cursor: initial;
}

.contactForm div {
  padding: 6px 0px;
  display: flex;
  flex-direction: column;
}

.contactForm div input {
  width: 30vw;
  padding: 3px;
  margin: 3px 0px 0px;
  border-radius: 12px;
}

#emailHelp {
  font-size: 10px;
  color: blue;
  margin: 2px;
}

#form-check {
  flex-direction: row;
}

#form-check input {
  width: 25px;
  margin: 3px 0px;
}

.intro {
  margin-left: 30px;
  margin-top: 30px;
}

.intro h1 {
  font-family: "Fira Sans", sans-serif;
  margin: 12px;
}

.intro p {
  font-family: "Source Code Pro", monospace;
  padding: 8px;
}

.skillContainer {
  padding: 20px;
}

.skill {
  width: 214px;
  height: 7px;
  background-color: yellow;
  border: 2px solid black;
}

.skillsPic {
  display: flex;
  height: 10vh;
  margin: 4px 0px;
  padding: 6px;
}

.skillItem {
  display: flex;
  align-items: center;
}

.hundred {
  width: 280px;
  background-color: cornflowerblue;
}

.fifty {
  width: 220px;
  background-color: blue;
}

.t5 {
  width: 130px;
  background-color: black;
}

.fullSideBar {
  height: 202vh;
}

/* Ham Burger */
.hamburger {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 8px;
}

.cross {
  margin-left: 134px;
  height: 20px;
  width: 20px;
  padding: 2px;
}

.ham {
  height: 20px;
  width: 20px;
  padding: 4px;
}

.sidebarGo {
  transform: translate(-204px, 0px);
  position: absolute;
}

/* Media query for width 1000px */
@media (max-width: 1000px) {
  * {
    /* background-color: rgb(54, 3, 3); */
  }
  /* To remove dev pic when 1200px is triggered*/
  .devPic {
    display: none;
  }
  /* .sidebar {
    transform: translate(-204px, 0px);
    position: absolute;
  } */
  .intro {
    margin-left: 25px;
    margin-top: 30px;
  }

  .devinfo {
    font-size: 12px;
    padding-top: 5px;
  }
}

/* For textarea in Message me in contact form */
form textarea {
  margin: 5px;
  border-radius: 12px;
  font-family: "Fira Sans", sans-serif;
}
